@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="btn-group navbar-nav">
        <a href="#" type="button" class="nav-link text-dark" id="contentForAuthUsersButton" data-toggle="dropdown">
            @User.Identity.Name
        </a>
        <div class="dropdown-menu" aria-labelledby="contentForAuthUsersButton">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account & Security</a>
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            </form>
            <a class="nav-link text-dark" onclick="document.forms['logoutForm'].submit();" href="javascript:void(0)">Logout</a>
        </div>
    </div>
}
else
{
    <div class="btn-group navbar-nav">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </div>
}

