@{
    ViewData["Title"] = "About";
}

<h1>About Me and KutlanCoder.com</h1>
<p>
    <img style="height: 200px;" src="~/Images/KutlanKocaman.jpg" />
</p>

<p>
    My name is Kutlan Kocaman and I’m a software developer. I work for a company
    called <a href="https://www.vegasolutions.co.uk/" target="_blank">Vega Solutions</a>,
    building software mainly for clients in financial services, primarily using
    T-SQL, C#, Classic ASP, HTML, CSS and JavaScript.
</p>
<p>
    I spend quite a bit of my spare time practicing my development skills and learning new coding-related things,
    so I decided I may as well start turning these things into a real website, so that:
    <ul>
        <li>I can learn by doing – probably the best way of learning</li>
        <li>I am incentivised to take the code seriously and work to a decent standard</li>
        <li>I may even create stuff which is useful for others, or for myself to refer back to in the future</li>
    </ul>
</p>
<p>
    At the moment, I am focusing on React and .NET Core, so this is the kind of content which is
    likely to appear here in the the near future.
</p>
<p>
    Here is a link to the
    <a href="https://github.com/KutlanKocaman/KutlanKocamanDemo" target="_blank">GitHub Repository</a> for this site.
    Feel free to use any of the code for yourself.
</p>
<p>
    If you have any constructive suggestions for the site, please feel free to contact me at
    <a href="mailto:kutlan@kutlancoder.com">kutlan@kutlancoder.com</a>.
</p>
