@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Kutlan Kocaman's Demo Site</h1>
</div>

<p>
    You can take a look at the <a asp-area="" asp-controller="Algorithms" asp-action="Index">Word Search</a> algorithm
    animation without logging in.
</p>
<p>
    You can also <a asp-area="Identity" asp-page="/Account/Register">register</a> and
    <a asp-area="Identity" asp-page="/Account/Login">log in</a>,
    by setting up a password of your choice, or by using your Microsoft account (OAuth). Once logged in, you can interact
    with the database to create and manage
    some <a asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>.
</p>