@{
    ViewData["Title"] = "Home";
}

<h1>Welcome</h1>

<p>
    <a class="btn btn-primary" asp-area="" asp-controller="SPA" asp-action="WordSearch">Word Search Animation</a>
    An animation of a word search algorithm built using React.
</p>
<p>
    <a class="btn btn-primary" asp-area="" asp-controller="Customers" asp-action="Index">Customers</a>
    Create and manage a handful of customers in the database in this MVC application.
    You have to be <a asp-area="Identity" asp-page="/Account/Login">logged in</a>.
</p>
