@model KutlanKocamanDemo.Models.Customer

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create A New Customer</h1>
<hr />
<p>
    <a class="btn btn-default" asp-action="Index" onclick="return confirm('Are you sure?');">Back to Customer List</a>
    <button type="submit" value="Create" form="newCustomerForm" class="btn btn-default">Create Customer</button>
</p>
<hr />
<div class="container">
    <form id="newCustomerForm" asp-action="Create" class="alternate-div-colour">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-6 col-lg-2">
                <label asp-for="FirstName" class="control-label label-edit"></label>
            </div>
            <div class="col-6 col-lg-4">
                <input asp-for="FirstName" class="form-control input-edit" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-2">
                <label asp-for="LastName" class="control-label label-edit"></label>
            </div>
            <div class="col-6 col-lg-4">
                <input asp-for="LastName" class="form-control input-edit" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-2">
                <label asp-for="DateOfBirth" class="control-label label-edit"></label>
            </div>
            <div class="col-6 col-lg-4">
                <input asp-for="DateOfBirth" class="form-control input-edit" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-2">
                <label asp-for="AddressLine1" class="control-label label-edit"></label>
            </div>
            <div class="col-6 col-lg-4">
                <input asp-for="AddressLine1" class="form-control input-edit" />
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-2">
                <label asp-for="AddressLine2" class="control-label label-edit"></label>
            </div>
            <div class="col-6 col-lg-4">
                <input asp-for="AddressLine2" class="form-control input-edit" />
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-2">
                <label asp-for="AddressLine3" class="control-label label-edit"></label>
            </div>
            <div class="col-6 col-lg-4">
                <input asp-for="AddressLine3" class="form-control input-edit" />
                <span asp-validation-for="AddressLine3" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-2">
                <label asp-for="Locality" class="control-label label-edit"></label>
            </div>
            <div class="col-6 col-lg-4">
                <input asp-for="Locality" class="form-control input-edit" />
                <span asp-validation-for="Locality" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-2">
                <label asp-for="County" class="control-label label-edit"></label>
            </div>
            <div class="col-6 col-lg-4">
                <input asp-for="County" class="form-control input-edit" />
                <span asp-validation-for="County" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-2">
                <label asp-for="PostCode" class="control-label label-edit"></label>
            </div>
            <div class="col-6 col-lg-4">
                <input asp-for="PostCode" class="form-control input-edit" />
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
