@model KutlanKocamanDemo.Models.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit Customer Details</h1>
<hr />
<p>
    <a class="btn btn-default" asp-action="Details" asp-route-id="@Model.CustomerId" onclick="return confirm('Are you sure?');">Cancel Edits</a>
    <button type="submit" value="Save" form="editCustomerForm" class="btn btn-default">Save Edits</button>
</p>
<hr />
<div class="container">
    <form id="editCustomerForm" asp-action="Edit" class="alternate-div-colour">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-5 col-lg-2">
                <label asp-for="CustomerId" class="control-label label-edit"></label>
            </div>
            <div class="col-7 col-lg-4">
                <input readonly asp-for="CustomerId" class="form-control input-edit" />
            </div>
        </div> 
        <div class="row">
            <div class="col-5 col-lg-2">
                <label asp-for="FirstName" class="control-label label-edit"></label>
            </div>
            <div class="col-7 col-lg-4">
                <input asp-for="FirstName" class="form-control input-edit" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-5 col-lg-2">
                <label asp-for="LastName" class="control-label label-edit"></label>
            </div>
            <div class="col-7 col-lg-4">
                <input asp-for="LastName" class="form-control input-edit" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-5 col-lg-2">
                <label asp-for="DateOfBirth" class="control-label label-edit"></label>
            </div>
            <div class="col-7 col-lg-4">
                <input asp-for="DateOfBirth" class="form-control input-edit" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-5 col-lg-2">
                <label asp-for="AddressLine1" class="control-label label-edit"></label>
            </div>
            <div class="col-7 col-lg-4">
                <input asp-for="AddressLine1" class="form-control input-edit" />
                <span asp-validation-for="AddressLine1" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-5 col-lg-2">
                <label asp-for="AddressLine2" class="control-label label-edit"></label>
            </div>
            <div class="col-7 col-lg-4">
                <input asp-for="AddressLine2" class="form-control input-edit" />
                <span asp-validation-for="AddressLine2" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-5 col-lg-2">
                <label asp-for="AddressLine3" class="control-label label-edit"></label>
            </div>
            <div class="col-7 col-lg-4">
                <input asp-for="AddressLine3" class="form-control input-edit" />
                <span asp-validation-for="AddressLine3" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-5 col-lg-2">
                <label asp-for="Locality" class="control-label label-edit"></label>
            </div>
            <div class="col-7 col-lg-4">
                <input asp-for="Locality" class="form-control input-edit" />
                <span asp-validation-for="Locality" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-5 col-lg-2">
                <label asp-for="County" class="control-label label-edit"></label>
            </div>
            <div class="col-7 col-lg-4">
                <input asp-for="County" class="form-control input-edit" />
                <span asp-validation-for="County" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-5 col-lg-2">
                <label asp-for="PostCode" class="control-label label-edit"></label>
            </div>
            <div class="col-7 col-lg-4">
                <input asp-for="PostCode" class="form-control input-edit" />
                <span asp-validation-for="PostCode" class="text-danger"></span>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
