<body>
    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
    <link rel="stylesheet" type="text/css" href="~/css/algorithms.css" />
    <link rel="stylesheet" type="text/css" href="~/css/graph-area.css" />
    <script src="~/js/dist/spa.bundle.js"></script>
</body>
