@{
    ViewData["Title"] = "Algorithms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <body>
        <div id="content"></div>
        <link rel="stylesheet" type="text/css" href="~/css/algorithms.css" />
        <script src="~/js/bundled/algorithms-bundle.js"></script>
    </body>