body {
    --show-me-colour: #fcfb00;
}

.hidden {
    visibility: hidden;
}

.search-word {
    margin-bottom: 0.2em;
    margin-right: 0.2em;
}

input.search-word {
    text-transform: uppercase;
    width: 13em;
}

.remove-word-button {
    width: 2em;
    height: 1.9em;
    margin-right: 0.2em;
    margin-bottom: 0.3em;
    line-height: 0px; /* Center align minus text */
}

.add-word-button {
    display: block;
    margin-bottom: 0.2em;
}

.row-count-input {
    margin-left: 0.3em;
    width: 2em;
}

.grid-control-button {
    margin-bottom: 0.2em;
    margin-right: 0.2em;
}

.grid-cell {
    border: solid black 2px;
    height: 2em;
    width: 2em;
    text-align: center;
}

.word-search-visiting {
    background-color: deepskyblue;
}

.word-search-found {
    background-color: #7cfc00;
}

.word-search-show {
    background-color: var(--show-me-colour);
}

.word-search-partfound {
    background-color: #f5a500;
}

.word-search-mismatch {
    background-color: red;
}