
.graph-edge {
    background-color: black;
    position: absolute;
    height: 5px;
}

.graph-edge-pointer {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid black;
    border-bottom: 10px solid transparent;
    transform: translate(-3px, -7px);
}
