/* Variables
-------------------------------------------------- */

body {
    --primary-colour: #1338d3;
    --primary-hover-colour: #000000;
    --colour-1: #8080801a;
    --colour-2: #365bd229;
    --hover-text-colour: white;
    --row-border-radius: 0.25rem;
}

/* Font
-------------------------------------------------- */

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/* Effects
-------------------------------------------------- */
.hidden {
    visibility: hidden;
}

/* Header
-------------------------------------------------- */

.navbar-logo {
    height: 40px;
    padding-top: 0.1em;
}

.navbar-right-pad {
    width: 8em;
}

/* Footer
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Stop page overlapping footer */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/* Cookie policy
-------------------------------------------------- */

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Headers
-------------------------------------------------- */

h1 {
    margin-bottom: 1em;
}

/* Links and buttons
-------------------------------------------------- */

a {
    color: #0366d6;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.nav-button {
    /* Spacing for smaller screens */
    margin-top: 0.3em;
}

.nav-link:hover {
    background-color: var(--colour-2);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--primary-hover-colour);
    border-color: #5f85ffba;
}

.btn-primary {
    color: #fff;
    background-color: var(--primary-colour);
    border-color: var(--primary-colour);
}

.btn-primary:hover {
    background-color: var(--primary-hover-colour);
}

.btn-primary:disabled {
    color: #fff;
    background-color: var(--primary-colour);
    border-color: var(--primary-colour);
}

/* Form
-------------------------------------------------- */

label.label-edit {
    margin-top: 0.3em;
}

input.input-edit {
    height: 2em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

input.form-control[readonly] {
    background-color: rgba(0, 0 ,0 ,0);
    border: none;
}

input.form-control[readonly]:focus {
    box-shadow: none;
}

/* Bootstrap grid
-------------------------------------------------- */

.grid-header {
    font-size: large;
    font-weight: bold;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    margin-bottom: 0.2em;
}

.row {
    border-radius: var(--row-border-radius);
}

.alternate-div-colour > div:nth-child(even) {
    background-color: var(--colour-1);
}

.alternate-div-colour > div:nth-child(odd) {
    background-color: var(--colour-2);
}

.alternate-anchor-colour a:nth-child(even) {
    background-color: var(--colour-1);
}

.alternate-anchor-colour a:nth-child(odd) {
    background-color: var(--colour-2);
}

.alternate-anchor-colour .clickable-row:hover {
    color: var(--hover-text-colour);
    background-color: var(--primary-colour);
}

.clickable-row {
    display: block;
    margin-left: -15px;
    padding-left: 15px;
    margin-right: -15px;
    padding-right: 15px;
    border-radius: var(--row-border-radius);
}
