/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/*
    Custom site styles ******************************
*/

body {
    --colour-1: #8080801a;
    --colour-2: #365bd229;
    --hover-background-colour: #1b6ec2;
    --hover-text-colour: white;
    --row-border-radius: 0.25rem;
}

h1 {
    margin-bottom: 1em;
}

label.label-edit {
    margin-top: 0.3em;
}

input.input-edit {
    height: 2em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}

.row {
    border-radius: var(--row-border-radius);
}

input.form-control[readonly] {
    background-color: rgba(0, 0 ,0 ,0);
    border: none;
}

input.form-control[readonly]:focus {
    box-shadow: none;
}

.grid-header {
    font-size: large;
    font-weight: bold;
    padding-top: 0.3em;
    padding-bottom: 0.2em;
    margin-bottom: 0.2em;
}

.alternate-div-colour > div:nth-child(even) {
    background-color: var(--colour-1);
}

.alternate-div-colour > div:nth-child(odd) {
    background-color: var(--colour-2);
}

.alternate-anchor-colour a:nth-child(even) {
    background-color: var(--colour-1);
}

.alternate-anchor-colour a:nth-child(odd) {
    background-color: var(--colour-2);
}

.alternate-anchor-colour .clickable-row:hover {
    color: var(--hover-text-colour);
    background-color: var(--hover-background-colour);
}

.clickable-row {
    display: block;
    margin-left: -15px;
    padding-left: 15px;
    margin-right: -15px;
    padding-right: 15px;
    border-radius: var(--row-border-radius);
}

.btn-default {
    color: black;
    background-color: var(--colour-2);
}

.btn-default:hover {
    color: var(--hover-text-colour);
    background-color: var(--hover-background-colour);
}

.nav-button {
    margin-top: 0.3em;
}
