body {
    --word-search-found-colour: lawngreen;
    --word-search-show-colour: yellow;
}

.instructions-list-item {
    margin-left: -1.2em;
}

.detailed-information-button {
    margin-bottom: 0.4em;
}

.search-word {
    margin-bottom: 0.2em;
    margin-right: 0.2em;
}

input.search-word {
    text-transform: uppercase;
    width: 12em;
    display: inline;
}

input.word-search-found:read-only {
    background-color: var(--word-search-found-colour);
}

input.word-search-show:read-only {
    background-color: var(--word-search-show-colour);
}

.remove-word-button {
    margin-right: 0.2em;
    margin-bottom: 0.3em;
}

.show-me-button {
    margin-bottom: 0.3em;
}

.add-word-button {
    display: block;
    margin-bottom: 0.2em;
}

.row-count-input {
    margin-left: 0.3em;
    margin-bottom: 0.5em;
    width: 2.8em;
    display: inline;
}

.grid-cell {
    border: solid black 2px;
    height: 2em;
    width: 2em;
    text-align: center;
}

.word-search-found {
    background-color: var(--word-search-found-colour);
    transition: 0.2s;
}

.word-search-show {
    background-color: var(--word-search-show-colour);
    color: black;
    transition: 0.2s;
}

.word-search-partfound {
    background-color: #ffc107;
}

.word-search-mismatch {
    background-color: #dc3545;
}